@import "tailwindcss";
@media (min-width: 900px) and (max-width: 1728px){
    
    body {
        font-family: Arial, sans-serif;
        background-image: radial-gradient(circle, #864AC5, #5988D5);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 20px;
    }

    .login-container {
        background-color:rgba(255, 255, 255, 0.4);
        padding: 40px;
        border-radius: 30px;
        width: 30vw;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-top: 15px;
        margin-bottom: 8px;
        color: black;
        font-weight: bold;
        text-align: left;
    }

    input[type="text"], [type="password"] {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: white;
        margin-bottom: 10px;
    }

    input[type="text"]:focus, [type="password"]:focus {
        outline: none;
        border-color: #007bff;
    }

    .btn-entrar {
        width: 100%;
        background-color: #1C106B;
        color: white;
        border: none;
        padding: 25px;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    .btn-entrar:hover {
        background-color: #382997;
    }

    .registro-link {
        text-align: center;
        margin-top: 20px;
        color: white;
    }

    .registro-link a {
        color: #1C106B;
        text-decoration: none;
    }

    .registro-link a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

}

