/* @media (min-width: 500px) and (max-width: 1728px){ */
    .body {
        width: 90vw;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .container-listcam {
        background-color: white;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 15px;
    }

    .content {
        word-break: break-all;
    }

    .camera-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .cam-full {
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 200px; /* ajuste conforme necessário */
    }

    .camera-actions {
        margin-top: auto;
        padding-top: 15px;
    }

    .cont-del {
        margin-top: 8px;
    }

    /* TITULOS */

    .title {
        font-size: 30px;
        font-weight: 800;
    }

    .title2 {
        font-size: 20px;
        font-weight: bold;
    }

    .title3 {
        font-weight: 600;
        font-size: 19px;
    }

    .subtitle {
        color: gray;
    }

    .cam-tit {
        border-bottom: 1px solid black;
    }

    /* BOTÕES */

    .btn-back {
        color: white;
        cursor: pointer;
        border-radius: 7px;
        padding: 10px 30px;
        background-color: #010A16;
        margin-top: 0;
        margin-bottom: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .btn-back:hover {
        background-color: #091a2f;
    }

    .btn-logout {
        color: white;
        padding: 10px 35px 10px 35px;
        background-color: #010A16;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .btn-logout:hover {
        background-color: #091a2f;
    }

    .btn-cadcams {
        color: white;
        padding: 10px 50px 10px 50px;
        background-color: green;
        border-radius: 10px;
        border: 1px solid rgba(29, 96, 0, 0.5);
        margin-top: 10px;
    }

    .btn-cadcams:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .btn-cams {
        text-align: center;
        cursor: pointer;
        padding: 7px;
        border-bottom: solid black;
    }

    .btn-del {
        padding: 8px 16px;
        background-color: #ff0019;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 75%;
    }

    .btn-del:hover {
        background-color: #82131e;
        transform: scale(1.05);
    }

/* } */